$primary-color: #03045eff;
$secondary-color: #023e8aff;
$honolulu-blue: #0077b6ff;
$blue-green: #0096c7ff;
$pacific-cyan: #00b4d8ff;
$vivid-sky-blue: #48cae4ff;
$non-photo-blue: #90e0efff;
$non-photo-blue-2: #ade8f4ff;
$light-cyan: #caf0f8ff;

$phone-breakpoint: 600px;
$ipad-breakpoint: 768px;
$desktop-breakpoint: 992px;
$header-height: 60px;
