@import "../utils/variables.scss";
@import "../utils/mixins.scss";

.bot-container {
    max-width: 500px;
    min-width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 16px;
    margin: 20px;
    @include column;
    justify-content: center;
    align-content: center;
    @include shadow ($honolulu-blue);


  }
  
  .message {
    border-radius: 8px;
    padding: 8px 12px;
    margin-bottom: 8px;
    max-width: 90%;
    text-align: center;
    align-self: center;

  }
  
  .bot-message {
    background-color: #f0f0f0;
    font-family: "Arial";
    font-weight: bold;
    text-align: center;
  }
  
  .user-message {
    background-color: #e3f2fd;
    margin-left: auto;
    max-width: 90%;
    text-align: center;
    align-self: center;
  }
  
  .chat-buttons {
    @include column;
    justify-content: center;
    align-content: center;
  }

  .option-button {
    background-color: $pacific-cyan;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
    max-width: 90%;
    text-align: center;
    align-self: center;
  }
  
  .option-button:hover {
    background-color: $secondary-color;
  }