@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.footer-box {
    @include column;
    @include centered-content;

    min-height: 10vh;
    background-color: $secondary-color;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 0.5vh;

    &>p {
        align-items: center;
    }
}