@import "../utils/variables.scss";

.main {
    margin: 0 auto;
    @include column;
    align-items: center;
    min-height: 90vh; 
    //padding: 16px 0px;
    width: 100%;
}

h2 {
    color: $primary-color;
    text-shadow: -1px 0 white, 0 2px white, 2px 0 white, 0 -1px white;

}